@{
    ViewData["Title"] = "TuT.ba";
}


<body style = "background: url(https://tse4.mm.bing.net/th?id=OIP.1lHglK939_hyHeBxWt1DSgHaF7&pid=Api);
        background-repeat: repeat
    ">
    <div class="container-fluid">
        <div class="row" style="background-color: steelblue">
            <div class="col-3">
                <img class="img-fluid" src="https://camo.githubusercontent.com/5b56c0459613985d40ce32b6327081ab4f32db861ad9970a15497e14290aa388/68747470733a2f2f692e706f7374696d672e63632f337735624c5362792f50726176612d5665727a2e6a7067" alt="Logo" style="width:250px;height:200px; align-content: end">
            </div>
            <div class="col-8 col">
                <div class="row">
                    <div class="col offset-1">
                        <h1 style="font-family: 'Copperplate Gothic'; font:bolder; font-size:150px;margin-top:10px;">TuT.ba</h1>
                    </div>
                </div>
                <div class="row">
                    <br />
                </div>
                <div class="row offset-2">
                    <p class="text-center" style="font-family: 'Book Antiqua'; align-content:center; font-size: x-large"><strong>Aplikacija za pomoć pri savladavanju predmeta sa ETF-a („TuT.ba“) nudi podšku za:</strong></p>
                </div>
                <div class="row offset-2">
                    <p class="text-center" style="font-family: 'Book Antiqua'; align-content:center; font-size: x-large"><strong>pronalazak tutora specijaliziranih u određenim oblastima</strong></p>
                </div>
                <div class="row offset-2">
                    <p class="text-center" style="font-family: 'Book Antiqua'; align-content:center; font-size: x-large"><strong>dogovor on-line/on-site instrukcija i konsultacija</strong></p>
                </div>
                <div class="row offset-2">
                    <p class="text-center" style="font-family: 'Book Antiqua'; align-content:center; font-size: x-large"><strong>pronalazak preporučene literature</strong></p>
                </div>
                <div class="row offset-2">
                    <p class="text-center" style="font-family: 'Book Antiqua'; align-content:center; font-size: x-large"><strong> mogućnost da budete i Vi tutor.</strong></p>
                </div>
            </div>
        </div>
        <div>
            <img class="img-fluid" src="https://scontent.fsjj2-1.fna.fbcdn.net/v/t1.6435-9/159405931_5820418447972097_6111807293830899279_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=AxIPq3SXGuQAX9M3Mlo&tn=mr93UwtpDQoQK3VB&_nc_ht=scontent.fsjj2-1.fna&oh=a0a432a3778b36b62e996013b26e3da7&oe=60CB92C3" alt="Logo" style="width:1000px;height:800px; align-content: end">
        </div>
        <div class="row">
            <br />
        </div>
        <div class="row">
            <br />
        </div>

        <div class="container-fluid" style="background-color: steelblue">
            <div class="row">
                <br />
            </div>
            <div class="row" style="  font-family: 'Copperplate Gothic'; margin-left: 15px; text-underline-position: below; background-color: steelblue">
                <h3><strong>Namjena sistema je savremen i pojednostavljen pristup materijalima, te osobama koje su u mogućnosti pružiti pomoć pri učenju, shvatanju i samom polaganju predmeta sa ETF-a. Instrukcije i konsultacije su omogućene ukoliko postoji osoba koja je prijavljena kao tutor na predmetu. Ukoliko takva ne postoji, moguće je pronaći literaturu za traženi predmet, koja može biti besplatna ili plaćena. Osoba ne mora biti registrirana kako bi vidjela interfejs aplikacije, međutim u tom slučaju ima pravo vidjeti samo osnovne informacije o sistemu, odnosno šta dati sistem nudi. Osoba se može registrovati kao student ili kao tutor.</strong></h3>
            </div>
            <div class="row">
                <br />
            </div>
        </div>
    </div>
</body>
