@model TuT.ba.Models.Instrukcija

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Instrukcija</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DatumOdrzavanja" class="control-label"></label>
                <input asp-for="DatumOdrzavanja" class="form-control" />
                <span asp-validation-for="DatumOdrzavanja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trajanje" class="control-label"></label>
                <input asp-for="Trajanje" class="form-control" />
                <span asp-validation-for="Trajanje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cijena" class="control-label"></label>
                <input asp-for="Cijena" class="form-control" />
                <span asp-validation-for="Cijena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Popust" class="control-label"></label>
                <input asp-for="Popust" class="form-control" />
                <span asp-validation-for="Popust" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
